td, th {
	border: 1px solid;
  color: black;
  }
  
body {
  background-image: url('../images/nebula.jpg');
  background-position: center;
  background-size: 120%;
}

#planets {
  background-color: white;
  background-position: center;
  position: relative;
  left: 500px;
}

h1 {
  color: yellow;
  position: relative;
  left: 800px;
}

.title {
  font-size: 30px;
  background-color: black;
  color: white;
}

.planet {
  padding: 5px;
  margin: -1px;
  border: 10px;
  background-color: black;
  color: white;
  width: 150px;
}

.bold {
  font-size: 20px;
  background-color: darkblue;
  color: white;
  text-align: center;
  font-weight: bold;
}

.text {
  font-size: 15px;
  background-color: black;
  color: white;
  text-align: center;
}
  